<div class="p-5 rounded-xl border border-LightGrey shadow-v1 transition-all hover:border-blue100 @@Style">
    <div class="rounded-lg overflow-hidden mb-5 flex items-center justify-center h-[143px]">
        <img class="w-full h-full object-cover" src="img/Img-component-1.png" alt="What is Bankruptcy?">
    </div>
    <div class="flex flex-col">
        @@include('Category-elem.html', {
        'style-main': 'mb-5',
        'URL': '#',
        'style-title': '',
        'Title': 'Category',
        })
        <span class="text-Top3 font-medium tracking-04 block mb-2">Lorem ipsum dolor amet, consectetur adipiscing eli.</span>
        <p class="text-Grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        @@include('Link-arrow.html', {
        'STYLE_LINK': 'mt-5',
        'URL_LINK': '#',
        'TITLE_LINK': 'Read more',
        })
    </div>
</div>