<form action="" class="mt-8 md:mt-0 row gap-4 md:gap-x-0 md:gap-y-3">
    <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': '',
        'StyleLabel': 'hidden',
        'idInput': 'nameID',
        'label': '',
        'styleInput': 'input-icon User-input',
        'type': 'text',
        'placeholder': 'First name',
        'errorStyle': 'hidden',
        'Name': 'first-name',
        })
    </div>
    <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': '',
        'StyleLabel': 'hidden',
        'idInput': 'last-nameID',
        'label': '',
        'styleInput': 'input-icon User-input',
        'type': 'text',
        'placeholder': 'Last name',
        'errorStyle': 'hidden',
        'Name': 'second-name',
        })
    </div>
    <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': '',
        'StyleLabel': 'hidden',
        'idInput': 'phoneID',
        'label': '',
        'styleInput': 'input-icon Phone-input',
        'type': 'text',
        'placeholder': 'Phone number',
        'errorStyle': 'hidden',
        'Name': 'phone',
        })
    </div>
    <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': '',
        'StyleLabel': 'hidden',
        'idInput': 'mailID',
        'label': '',
        'styleInput': 'input-icon Mail-input',
        'type': 'email',
        'placeholder': 'Email',
        'errorStyle': 'hidden',
        'Name': 'Email',
        })
    </div>
    <div class="col-span-12">
        @@include('textarea.html', {
        'commonStyle': '',
        'Style_label': 'hidden',
        'idTextarea': 'commentID',
        'label': '',
        'styleTextarea': '',
        'placeholder': 'Tell us what happend...',
        'rows': '3',
        'Name': 'comment',
        })
    </div>
    <div class="col-span-12">
        <div class="mt-4 md:mt-3">
            @@include('checkbox.html', {
            'styleText': '',
            'text': 'I consent to be contacted and i have read and agree to the <a href="#">LawyerAI privacy notice</a> and <a href="#">terms of service.*</a> ',
            'errorStyle': 'hidden',
            'errorText': 'Error',
            })
        </div>
    </div>
    <div class="col-span-12">
        @@include('button-icon.html', {
        'style': 'w-full mt-4 md:mt-3',
        'type': 'submit',
        'ariaLabel': 'Contact Us',
        'title': 'Contact Us',
        })
    </div>
</form>