<section class="section border-t border-LightGrey border-dashed">
    <div class="container">
        <div class="flex lg:flex-col lg:gap-x-0 gap-x-10 lg:gap-y-6 md:px-4 md:py-6 md:border md:border-LightGrey md:shadow-v1 md:rounded-xl">
           <div class="flex flex-col">
               <div class="flex flex-col">
                   @@include('Title-component.html', {
                   'Style_common': 'minmd:hidden',
                   'Style_title': 'md:text-Top5',
                   'Title_tag': 'h3',
                   'Title': 'Talk to us Anytime!',
                   'Style_line': 'mt-3',
                   })
                   <p class="mt-3 text-Text minmd:hidden">We are in this together!</p>
               </div>
               <div id="form-img" class="xl:max-w-[400px] lg:mx-auto max-w-[578px] minlg:min-w-[500px] minxl:min-w-[578px] w-full h-full max-h-[568px] overflow-hidden rounded-2xl p-10 lg:p-5 bg-1 flex items-center justify-center">
                   <img class="object-cover w-full h-full" src="__IMAGE_PATH__avatar-2.png" alt="Talk to us Anytime!">
               </div>
           </div>
            <div class="w-full flex flex-col px-10 py-8 rounded-xl bg-white shadow-v1 border border-LightGrey md:border-none md:p-0">
                <div id="wrapperForm">
                    @@include('Title-component.html', {
                    'Style_common': 'md:hidden',
                    'Title_tag': 'h3',
                    'Title': 'Talk to us Anytime!',
                    'Style_line': 'mt-3',
                    })
                    <p class="mt-3 text-Text md:hidden">We are in this together!</p>
                    @@include('Contact-form.html')
                </div>
                <div id="thankYouMessage" class="hidden lg:pt-5 lg:pb-0 lg:px-0 lg:bg-white rounded-2xl">
                    @@include('Title-component.html', {
                    'Style_common': 'md:hidden',
                    'Title_tag': 'h3',
                    'Title': 'Thank you for Contacting Us!',
                    'Style_line': 'mt-3',
                    })
                    <p class="mt-3 text-Text md:hidden">We will contact you with a few minutes for answering questions you need.</p>
                    <img class="max-w-full" src="__IMAGE_PATH__ty-img.svg" alt="Thank you for Contacting!">
                    <button id="resetFormButton" class="button w-full mt-8 md:mt-3" type="submit" aria-label="Return to the Form">
                        <span class="">Return to the Form</span>
                        <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M4.88452 0.880859L9.19988 5.00007L4.88452 9.11928" stroke="white" stroke-width="1.28571" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>