<div class="group p-5 rounded-xl border border-LightGrey shadow-v1 transition-all hover:border-blue100 @@Style">
    <div class="rounded-lg overflow-hidden mb-5 flex items-center justify-center h-[160px]">
        <img class="w-full h-full object-cover" src="img/Img-component-1.png" alt="What is Bankruptcy?">
    </div>
    <div>
        <span>What is Bankruptcy?</span>
         <svg class="my-2 block" xmlns="http://www.w3.org/2000/svg" width="47" height="4" viewBox="0 0 47 4" fill="none">
           <path class="transition-all group-hover:stroke-Yellow" d="M2 2H45" stroke="#004ED5" stroke-width="3" stroke-linecap="round" stroke-dasharray="7 7"/>
        </svg>
        <ul>
            <li>Benefits of Bankruptcy</li>
            <li>What is Bankruptcy?</li>
            <li>Benefits of Bankruptcy</li>
            <li>Repayments Plan</li>
        </ul>
    </div>
</div>