<div class="p-5 bg-white shadow-v1 border border-LightGrey rounded-xl flex flex-col gap-y-4 w-full @@Style">
    <div class="flex flex-col gap-y-2">
        <span class="text-blue100 font-medium uppercase text-base">Q&A</span>
        <div class="flex items-center gap-x-2 text-body2 text-Grey">
            <span>Asked in Harlan, KY</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
                <circle cx="1.5" cy="1.50006" r="1.5" fill="#7B8BB3"/>
            </svg>
            <time datetime="2025-01-27">Jan 27, 2025</time>
        </div>
    </div>
    <span class="block border-b border-LightGrey w-full"></span>
    <div class="flex flex-col gap-y-2">
        <p class="text-base font-medium">My mother passed away in 2016 and estate went into probate. the creditors didnt claim their money from her bank accounts?</p>
        <p>it's been 8 years and now they want to give the money to the state. i am the benificiary on the estate.</p>
    </div>
    @@include('Link-arrow.html', {
    'STYLE_LINK': '',
    'URL_LINK': '#',
    'TITLE_LINK': 'Read 1 attorney answer',
    })
</div>