<div class="p-5 rounded-xl border border-LightGrey shadow-v1 transition-all hover:border-blue100 hover:bg-bgLight @@Style">
    <div class="mb-6 flex gap-x-4">
        <img class="w-[72px] min-w-[72px] h-[72px] rounded-full" src="img/avatar-1.png" alt="Avatar">
        <div class="flex flex-col gap-y-2">
            <span class="font-medium">Sophya Morry</span>
            <span class="text-body2 text-Text2">01 / 12 / 2024</span>
            <div class="flex gap-x-[6px]">
                <span class="Star-icon"></span>
                <span class="Star-icon"></span>
                <span class="Star-icon"></span>
                <span class="Star-icon"></span>
                <span class="Star-icon"></span>
            </div>
        </div>
    </div>
    <div>
        <p class="text-Title font-medium text-Top3">“ This is the best site where I get answers for my legal questions ”</p>
    </div>
</div>