<div class="flex flex-col @@Style_common">
    <@@Title_tag class="text-Text font-medium tracking-12 @@Style_title">@@Title</@@Title_tag>
<span class="flex items-center gap-x-2 @@Style_line">
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="3" viewBox="0 0 47 3" fill="none">
          <path d="M2 1.5H45" stroke="#004ED5" stroke-width="3" stroke-linecap="round"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="3" viewBox="0 0 47 3" fill="none">
          <path d="M2 1.5H45" stroke="#004ED5" stroke-width="3" stroke-linecap="round" stroke-dasharray="7 7"/>
        </svg>
    </span>
</div>