.Fast-icon {
  background: url("__IMAGE_PATH__Fast-icon.svg");
  @apply block h-[40px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Star-icon {
  background: url("__IMAGE_PATH__Star.svg");
  @apply block h-[18px] w-[18px] bg-100-auto bg-center bg-no-repeat;
}

.arrow-right {
  background: url("__IMAGE_PATH__arrow-right.svg");
  @apply block h-[15px] w-[15px] bg-100-auto bg-center bg-no-repeat;
}

.User-input {
  background: url("__IMAGE_PATH__User-input.svg") 12px center no-repeat;
  background-size: 20px 20px;
}

.Phone-input {
  background: url("__IMAGE_PATH__Phone-input.svg") 12px center no-repeat;
  background-size: 20px 20px;
}

.Mail-input {
  background: url("__IMAGE_PATH__Mail-input.svg") 12px center no-repeat;
  background-size: 20px 20px;
}