// Footer Style Start



// Footer Style End

// Blog Card Style Start



// Blog Card Style End

// Button with arrow Style Start

.button {

  &.width-full {
    @apply w-full;
  }

  &.width-auto {
    @apply min-w-[0px]
  }

  @apply h-[52px] min-h-[52px] px-5 min-w-[130px] w-fit flex items-center justify-center rounded-lg
  text-white text-body text-center whitespace-nowrap font-medium bg-blue100 transition-all hover:bg-Text disabled:bg-Grey disabled:cursor-not-allowed;
}

// Button with arrow Style End

// Checkbox Style Start



// Checkbox Style End

// Pagination Style Start



// Pagination Style End

// FAQ Style Start



// FAQ Style End

// Mega Menu Header Style Start

.show-mobile-menu {
  &__list {
    @apply minlg:hidden
  }

  &.active {
    @apply lg:left-0
  }

  @apply transition-all duration-300 lg:overflow-y-auto lg:fixed lg:top-[85px] lg:-left-[100%] lg:w-[100vw] lg:h-full lg:min-h-screen lg:bg-white lg:z-50 lg:flex lg:flex-col lg:gap-10 lg:py-8 lg:px-4
}

// Mega Menu Header Style End

// Splide slider Start



// Splide slider End

// Text Block Style Start



// Text Block Style End

.bg-gradient-main {
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.40) 0%, rgba(5, 9, 62, 0.40) 100%);
}

.main-title {
  @apply text-h2 font-bold md:text-h2Mob
}

.section {
  @apply my-16 lg:my-10
}

.Border-wave {
  background: url("../img/icons/Border-wave.svg") repeat-x center;
  background-size: 41px 10px;
  display: block;
  width: 100%;
  height: 10px;
}

// Text Content Start
.text-content {

  p {
    @apply text-base md:text-body text-DarkBlue50 font-medium
  }

  ol {
    @apply list-decimal text-base text-DarkBlue50 font-medium pl-6
  }

  ul {
    @apply list-disc text-base text-DarkBlue50 font-medium pl-6
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold mb-4 block
  }
}

.text-content--tou {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply text-DarkBlue100 font-semibold
  }
}
// Text Content End

//
.active-tag {

  span {
    @apply text-blue100 font-semibold
  }

  @apply border-blue100
}
//

.alphabet-list > div {
  max-width: calc(25% - 24px);
  width: 100%;

  @media (max-width: 1023.98px) {
    max-width: calc(33% - 20px);
  }

  @media (max-width: 767.98px) {
    max-width: calc(50% - 16px);
  }

  @media (max-width: 639.98px) {
    max-width: 100%;
  }
}

.checkboxes-alphabet-list {
  overflow: inherit;

  input {
    @apply hidden
  }

  label {
    @apply w-10 min-w-10 h-10 flex items-center justify-center border border-DarkBlue100 rounded-full overflow-hidden bg-white cursor-pointer
  }

  .swiper-slide {
    width: auto;
  }

  @apply flex flex-wrap gap-2 mx-auto w-full justify-center mt-10
}

.checkboxes-alphabet-list label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxes-alphabet-list label.bg-blue-500 {
  background-color: #32CDD7; /* Синий фон при активации */
  border-color: #32CDD7;
  color: #fff;
}

/* Стиль для отключенных кнопок */
.checkboxes-alphabet-list input:disabled + span {
  background-color: #F9FBFF; /* Серый фон для отключенной кнопки */
  color: #05093E1A; /* Текст серого цвета */
  cursor: not-allowed;
}

// Pagination Start

.pagination-button {
  &--disabled {
    @apply bg-transparent
  }

  @apply w-12 h-12 min-w-12 flex items-center justify-center rounded-full overflow-hidden border border-Grey text-none bg-blue100 disabled:bg-transparent hover:cursor-pointer
}

// Pagination End

.inactive-tag {
  span {
    @apply text-DarkBlue50 font-medium
  }

  @apply border-DarkBlue100
}

// swiper Start

.swiper-custom {
  .swiper-pagination-bullet {
    @apply w-6 h-6 lg:w-[18px] lg:h-[18px] opacity-100 bg-DarkBlue100
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.6);
  }

  .swiper-pagination-bullet-active {
    @apply bg-blue100
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    display: none;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-arrow {
    .swiper-button-icon {
      width: auto;
      height: auto;
    }

    .swiper-button-icon--grey {
      @apply hidden
    }

    .swiper-button-icon--white {
      @apply block
    }

    &.swiper-button-disabled {
      @apply opacity-100 border border-Grey bg-transparent
    }
    @apply w-12 h-12 rounded-full flex justify-center items-center overflow-hidden bg-blue100
  }

  .swiper-button-arrow.swiper-button-disabled {
    .swiper-button-icon--grey {
      @apply block
    }

    .swiper-button-icon--white {
      @apply hidden
    }
  }
}

.condition-swiper {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 639.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-zoom-container {
  img {
    @apply hover:cursor-zoom-in
  }
}

.gallery-swiper-big {

  .swiper-slide {
    @apply rounded-6xl overflow-hidden border border-DarkBlue100 flex justify-center items-center
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.gallery-swiper {
  .swiper-slide {
    @apply rounded-2xl overflow-hidden border border-DarkBlue100 flex justify-center items-center cursor-pointer
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.swiper-blog {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 1023.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-brands {

  @media (max-width: 1023.98px) {
    overflow: inherit;

    .swiper-slide {
      width: auto;
    }
  }


  @apply px-2 -mx-2
}
// swiper End

//Other
.hero-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.50) 0%, rgba(5, 9, 62, 0.50) 100%);
}

.top-line {
  @apply relative
}

.top-line:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #05093E1A;
  height: 20px;
  display: block;

  @apply lg:-right-2
}

.w-text {
  max-width: calc(100% - 40px);
}

.icon-40 {
  @apply md:w-10 md:h-10
}

.icon-40-lg {
  @media (max-width: 1023.98px) {
    width: 40px !important;
    height: 40px !important;
  }
}

.icon-72 {
  @media (max-width: 1023.98px) {
    width: 72px !important;
    height: 72px !important;
  }
}

.icon-16 {
  @apply md:w-4 md:h-4 md:min-w-4
}

.icon-25 {
  @apply md:w-[25px] md:h-[25px] md:min-w-[25px]
}

.menu-item-active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    display: block;
    border-bottom: 2px solid #3D65FF;
  }
}

.consultation-list {
  .consultation-list__item:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid #05093E1A;
    margin-bottom: 24px;
  }
}

